@font-face{
	font-family: 'adam';
	src: url('../polices/adam.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html
{
	/*height: 100%;*/
	background-color: #384D7F;
	margin: 0;
	padding: 0;
}

body
{
	height:inherit;
	margin: 0;
	padding: 0;
}

header
{
	background-color: #5E687F;
	text-align: center;
	font-family:adam, sans serif;
	font-size: 50px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav
{
	position: sticky;
	z-index: 10;
	margin: 0 auto;
	padding: 0;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #597BCC;
}

nav ul
{
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: table;
}

nav ul li
{
	top: 5px;
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
	vertical-align: middle;
}

nav ul li a
{
	position: relative;
	float: left;
	background-color: #597BCC;
	color: black;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	font-size: 30px;
	height: 100%;
}

nav ul li a:hover 
{
	background-color:#BCD0FF;
}

main
{
	text-align: center;
	height: inherit;
	position: relative;
	margin: auto;
	padding-top: 50px;
}

.compte
{
	padding: 10px;
	position: relative;
	display: inline-table;
	width: auto;
	height: auto;
	text-align: center;
	background-color: #5E687F;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.compte *
{
	margin: 5px;
}

.compte input[type=text],input[type=password]
{
	background-color: #d3d3d3;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
}

.compte input[type=submit]
{
	background-color: #d3d3d3;
	font-size: 20px;
	padding: 5px;
	border:1px solid;
	border-radius: 5px;
	transition: all 0.5s;
	cursor: pointer;
	position: relative;
	transition: 0.5s;
}

.compte input[type=submit]:after
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}



.compte p
{
	font-family: 'adam';
	font-size: 20px;

}